* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.header {
  background-color: white;
}

.navigation {
  padding-left: 90px;
  padding-right: 90px;
  height: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 1fr;
      grid-template-columns: 2fr 4fr 1fr;
}

.navigation > * {
  padding-top: 40px;
}

.navigation > .navigation__tickets {
  padding-top: 25px;
}

.navigation__buttonlogo > a {
  color: black;
  font-weight: bold;
  font-size: 24px;
  line-height: 10px;
  position: relative;
  padding-left: 30px;
}

.navigation__buttonlogo > a::before {
  content: url(../img/icons/microphone.png);
  position: absolute;
  -webkit-transform: scale(0.03);
          transform: scale(0.03);
  width: 10px;
  height: 10px;
  top: 0;
  left: 0;
}

.navigation__menu {
  margin-right: 50px;
}

.menu__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu__list > li {
  text-align: center;
  position: relative;
}

.menu__list > li > span > a {
  display: inline-block;
  text-align: center;
  color: black;
}

.menu__list > li > span {
  position: relative;
}

.link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: inline-block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #f74b4b;
  -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.link:hover:after {
  width: 100%;
  left: 0;
}

.navigation__tickets {
  text-align: center;
  width: 145px;
  height: 45px;
}

.button {
  display: block;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#fcb045), color-stop(29%, #fd1d1d), to(#b43aa5));
  background: linear-gradient(90deg, #fcb045 0%, #fd1d1d 29%, #b43aa5 100%);
  padding: 15px 40px 15px 55px;
  border-radius: 25px;
  font-weight: bold;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

.button::before {
  content: url(../img/icons/ticket.png);
  position: absolute;
  left: 35px;
  top: 14px;
}

.module1 {
  background-image: url(../img/lecture.jpg);
  height: 650px;
}

.module1__blur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  height: 650px;
}

.container__module1 {
  padding-left: 90px;
  padding-right: 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 4fr;
      grid-template-columns: 6fr 4fr;
  position: relative;
}

.content {
  padding-top: 220px;
}

.content__date {
  margin-bottom: 40px;
}

.date__text {
  color: #f74b4b;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content__title {
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 62px;
  margin-bottom: 50px;
}

.counter {
  background: -webkit-gradient(linear, left top, right top, from(#fcc645), to(#ff5a5a));
  background: linear-gradient(90deg, #fcc645 0%, #ff5a5a 100%);
  height: 190px;
  color: #fff;
}

.counter__container {
  padding: 0 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 240px;
          column-gap: 240px;
}

.counter__content {
  grid-column: 1 2;
  padding-top: 40px;
  width: 280px;
}

.counter__head {
  letter-spacing: 0.2em;
  margin-bottom: 20px;
}

.counter__label {
  font-size: 1.4em;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: 1px;
}

.counter__counter {
  grid-column: 2 3;
  padding-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4)[1fr];
      grid-template-columns: repeat(1fr, 4);
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.counter__block {
  height: 100px;
  width: 100px;
  text-align: center;
  border: solid 1px #fff;
}

.counter__block1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.block__number {
  padding: 15%;
  padding-bottom: 0;
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 10px;
}

.block__label {
  font-size: 1.2em;
}

.counter__block2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.counter__block3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.counter__block4 {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.module2 {
  background: #fff;
  padding: 65px 90px 0px 90px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 55px;
          column-gap: 55px;
  margin-bottom: 85px;
}

.module2__photo {
  grid-column: 1 2;
}

.module2__content {
  grid-column: 2 3;
}

.module2__title {
  padding-top: 75px;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.module2__pararaph {
  color: #7a8382;
  letter-spacing: 0.7px;
  word-spacing: 2px;
  line-height: 25px;
  font-size: 16px;
  margin-bottom: 30px;
}

.module2__list {
  color: #7a8382;
  line-height: 30px;
  text-transform: capitalize;
  margin-bottom: 35px;
}

.module2__list > ul > li {
  position: relative;
  padding-left: 20px;
}

.module2__list > ul > li::before {
  position: absolute;
  background: url(../img/icons/gal.png) no-repeat;
  background-size: 15px 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  content: " ";
  left: 0;
  top: 5px;
}

.link__container {
  position: relative;
}

.module2__link a {
  font-weight: bold;
}

.link {
  display: inline-block;
  text-align: center;
  color: black;
}

.module3 {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.module3__content {
  background: #fff;
}

.module3__label {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 35px;
}

.module3__paragraph {
  color: #7a8382;
  text-align: center;
  margin-bottom: 55px;
}

.module3__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin-bottom: 100px;
}

.module3__speaker > a {
  display: block;
}

.module3__speaker {
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.module3__speaker:hover {
  opacity: 0.7;
}

.module4__header {
  text-align: center;
  margin-bottom: 45px;
}

.module4__label {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
}

.module4__paragraph {
  color: #7a8382;
}

.module4__schedule {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-bottom: 60px;
}

.module4__day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 70px;
  border: solid 1px #e5e5e5;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.module4__day:first-child {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#fcc645), to(#ff5a5a));
  background: linear-gradient(90deg, #fcc645 0%, #ff5a5a 100%);
  scale: 1.1;
}

.module4__daylabel {
  margin-bottom: 5px;
  font-weight: bold;
}

.module4__daydate {
  color: #7a8382;
}

.color_white {
  color: #fff;
}

.module4__lectures {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  margin-left: 90px;
  margin-right: 90px;
}

.module4_lecture {
  padding-top: 25px;
  padding-bottom: 25px;
  width: 100%;
  border: 1px solid #e5e5e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 40px;
}

.module4__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 285px;
          flex: 0 0 285px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.module4__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 445px;
          flex: 1 1 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lecture {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

.lectorinfo {
  padding-left: 20px;
  position: relative;
}

.lectorinfo > p {
  display: inline-block;
}

.module4__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 345px;
          flex: 1 0 345px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lector__name {
  position: relative;
}

.lector__name::before {
  content: " ";
  width: 16px;
  height: 16px;
  background: url(../img/icons/man_icon.png) no-repeat;
  position: absolute;
  left: -20px;
}

.lector__email {
  position: relative;
  padding-left: 25px;
}

.lector__email::before {
  content: " ";
  width: 16px;
  height: 16px;
  background: url(../img/icons/letter_icon.png) no-repeat;
  position: absolute;
  left: 4px;
  top: 3px;
}

.time {
  margin-bottom: 15px;
  position: relative;
  padding-left: 20px;
}

.time::before {
  content: " ";
  width: 16px;
  height: 16px;
  background: url(../img/icons/clock_icon.png) no-repeat;
  position: absolute;
  left: 0;
}

.adress {
  position: relative;
  padding-left: 20px;
}

.adress::before {
  content: " ";
  width: 16px;
  height: 16px;
  background: url(../img/icons/point_icon.png) no-repeat;
  position: absolute;
  left: 0;
}
